/* CLOUD */
.columns .column.main {
  margin-top: -50px;
}

/* PAGE HEADER */
.page-header {
  background: #808080 ;    /* Changes the background for the entire page header */
}
.page-header .panel.wrapper {
  background-color: #fff;
  color: #000;    /* the color attribute on this line will change the text color for the page header */
  border-bottom: none;
}
.logo {
  z-index: 10;    /* This brings the logo to the front, which will save headache if you decide to move it around */
}
.header.content {
  padding: 10px 20px 0;    /* cleans up the spacing */
}
.page-title {
  display: none !important;    /* This hides the page title in case you forget to do so in the admin */
}

.navigation, .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, 
.page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main {
  max-width: none;    /* Makes the page header including logo and Navigation full width */
}

/* --------------------------- */

/* HEADER NAV */
.page-header .header.panel {
  margin-right: auto;
  margin-left: auto;
  padding-right: 350px;
}
.header.panel > .header.links {
  padding-right: 0;    /* Moved the header links around to fit in search and mini cart */
  z-index: 96;
}
.header.panel > .header.links > li > a {
  color: #000;    /* text color for header links */
}
.header.panel > .header.links > li > a:hover {
  color: #000;    /* text color for header links on HOVER */
}
.header.panel > .header.links > li > a:visited {
  color: #000;    /* text color for visited header links */
}

/* --------------------------- */

/* MAIN NAVIGATION */
.nav-sections {
  padding: 0;
  margin-bottom: 0 !important;    /* Cleaning up padding and margins and bringing nav to the front */
  z-index: 9
}
.nav-sections-items {
  background: transparent;    /* this should stay transparent for the page header background will show through. */
}
.navigation {
  background: transparent;
  /* this is repositioning the nav to be in line with the logo. You can adjust the left padding to move it 
  right or left (larger number for left, lower number for right) and adjust the top margin to adjust up or 
  down (lower number to move up and higher to move down. (remember, negative numbers are backwards 
  e.g. -1 is higher than -100, though you are all smart and probably already know that). You can also 
  change the font size to fit the width of the site  */
  padding-left: 202px;    
  margin-top: -64px;    /* Similar to above, this will adjust the navigation up and down */
  font-size: 14px;
  font-weight: normal;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif    /* Changes the font of the main navigation */
}
.navigation .level0 > .level-top {
  color: #000;    /* navigation text color */
}
.navigation .level0 > .level-top.ui-state-focus {
  color: #000;    /* navigation text color and background for hover */
  background: #fff;
}
.navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top {
  border-color: #197ec2;
  color: #333;    /* This chages the color of the underline and text on selected nav items  */
}

/* --------------------------- */

/* Added Media Query to fix issue with responsive Minicart and Search. The original styling, 
which is responsive, will take effect when the screen size is above 732px */
@media only screen and (min-width: 732px) {

  /* MINI CART */
  .minicart-wrapper {
    margin-top: -50px;    /* this is repositioning the mini cart */
    padding-right: 24px;
    z-index: 98;
  }
  .minicart-wrapper .action.showcart:before {
    color: #757575;    /* change the color attribute to change the cart icon color */
  }
  .minicart-wrapper .action.showcart:hover {
    color: #4f4f4f;    /* change the color attribute to change the cart icon color on hover */
  }

  /* --------------------------- */

  /* SEARCH BAR */
  .block-search {
    margin-top: -51px;    /* this is repositioning the search in the header */
    padding-right: 80px;
    width: 211px;
    z-index: 97;
  }
  .action.search[disabled] {
    padding-right: 80px;    /* this is repositioning the mini cart */
  }
  .block-search input {
    background: #fff;    /* background, border, and text for search box */
    color: #000;
    border: 1px solid #999;
  }
  .block-search .action.search:before {
    color: #757575;    /* color of magnifying glass icon and line weight */
    font-weight: 900;
  }

} /* closing of media query DO NOT REMOVE THIS LINE */

/* --------------------------- */

/* LANGUAGE SWITCHER */
.panel.header .links, .panel.header .switcher {
  z-index: 99;    /* this is repositioning the language dropdown */
}

/* --------------------------- */

/* SPECIAL PRICE with red text and strikethrough */
.old-price {
  color: red;
  text-decoration: line-through;
}

/* --------------------------- */

/* CHECKOUT */

/* Change all the color codes to change the color of the bar and circle around the 
check marks in the Shipping and Review & Payment steps */

.opc-progress-bar-item._active:before {
  background: #ff5501;
  border-color: #ff5501;
}
.opc-progress-bar-item._active > span:before {
  background: #ff5501;
  border-color: #ff5501;
}
.opc-progress-bar-item._active > span:after {
  border-color: #ff5501;
}


/* --------------------------- */

/* SITE WIDE BUTTONS */
.action primary tocart {
  background: #197ec2;    /* Main Button Color */
  border:  1px solid #197ec2;
}
.action.primary:hover {
  background: transparent;    /* Color of button on mouse over/hover */
  border: 1px solid #197ec2;
  color: #197ec2;
}
.action.primary {
  background: #197ec2;    /* color of border around button */
  border:  1px solid #197ec2;
}

/* --------------------------- */


/* BLUEFOOT SLIDER */

/*  Remove Comment to make slider full width
.bluefoot-wrapper {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
 */

/* --------------------------- */

/* BLUEFOOT SLIDER DOTS */
.bluefoot-slider .slick-dots li.slick-active button {
  background: #197ec2;    /* Changes the color of the ACTIVE navigation dots for the bluefoot slider */
}
.bluefoot-slider .slick-dots li button {
  background: #ddd;    /* Changes the color when of the INACTIVE navigation dots for the bluefoot slider */
}
.bluefoot-slider .slick-dots li button:hover {
  background: #197ec2;    /* Changes the color when you mouse over the INACTIVE navigation dots for the bluefoot slider */
}

/* --------------------------- */

/* BLUEFOOT SLIDER ARROWS */
.bluefoot-slider .slick-arrow {
  background: #197ec2;    /* Changes the color of the navigation arrows for the bluefoot slider */
  color: #fff;
  box-shadow: none;
}

/* --------------------------- */

/* BLUEFOOT BUTTONS */
button {
  background-image:  none;    /* Can be used to make the button an image */
  background:  #197ec2;    /* Changes the button color */
  border:  1px solid #197ec2;    /* Color of the button border */
  color:  #fff;    /* button text color */
}

button:hover {
  background-image: none;    /* Can be used to make the button an image */
  background: transparent;    /* Changes the button color */
  border: 1px solid #197ec2;    /* Color of the button border */
  color: #197ec2;    /* button text color */
}
